{% extends 'madlib/base.html' %}
{% load static %}
{% block body %}
<p>Off to <u>{{adj}}</u> Yellowstone the last time I was there I remember swimming, <u>{{adverb}}</u> fishing and of course <u>{{verb}}</u>.
Just me and my pet dog <u> {{ name }} </u> will be going this <u>{{adj2}}</u> trip, we will be setting up camp in my favorite campground
its way better than <u>{{place}}</u> because <u>{{place}}</u> has two many <u>{{ animal }}</u> not the type of animal I would
like to see camping.</p>
{% endblock %}