{% extends 'madlib/base.html' %}
{% load static %}
{% block body %}
<p>Time for a hike in the <u>{{adj}}</u> Mountains, I found a new route in <u>{{place}}</u>
it takes you to a <u>{{adj2}}</u> waterfall. The faster I was<u>{{verb}}</u> the closer I
get to the waterfall.  Along the hike I saw all kinds of <u>{{animal}}</u>, one came to
close so I <u>{{adverb}}</u> climbed up a tree. What did I get my self into, I wish
<u> {{ name }} </u> was here <u> {{ name }} </u> would know what to do.</p>
{% endblock %}